<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMonoNL-Regular.ttf</string>
		<string>JetBrainsMonoNL-Medium.ttf</string>
		<string>JetBrainsMonoNL-SemiBold.ttf</string>
		<string>JetBrainsMonoNL-Bold.ttf</string>
	</array>
</dict>
</plist>
