<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>self-care</string>
		<string>workout-processing</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMonoNL-Regular.ttf</string>
		<string>JetBrainsMonoNL-Medium.ttf</string>
		<string>JetBrainsMonoNL-SemiBold.ttf</string>
		<string>JetBrainsMonoNL-Bold.ttf</string>
	</array>
</dict>
</plist>
